#headHr {
  margin-left: 20%;
  margin-right: 20%;
  color: #268736;
}
.info {
  display: none;
  margin-top: 10px;
  }
body {
  font-family: Arial, sans-serif;
}
#printButton {
  display: none;
}
h1 {
  text-align: center;
}
h2 {
  margin-bottom: 5px;
  display: contents;
  color: #407d65;
}
hr {
  margin-right: 50%;
  color: #d1541f;
}
div {
  margin-top: 10%;
}
#addForm {
  display: none;
}