body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

#headHr {
  border: 2px solid grey;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
hr {
  border: 2px solid lightblue;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 50%;
  margin-top: 10;
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}


button[type="button"] {
  margin-top: 10px;
}

#result {
  font-family: system-ui;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: none; 
}

@media print {
  form {
    display: none; 
  }

  #result {
    display: block; 
  }
}
